---
:consumer_secret: CONSUMER SECRET GOES HERE. THIS IS YOUR TWITTER API SECRET
:consumer_key: CONSUMER KEY GOES HERE. THIS IS YOUR TWITTER API KEY
:secret: SECRET GOES HERE. YOU GET THIS AFTER AUTHORIZING THE BOT
:token: TOKEN GOES HERE. YOU GET THIS AFTER AUTHORIZING THE BOT
:since_id: 1234567
